/* 
Markup generated:
-----------------------------------------
<div class='HTE_tools' >
<a class='HTE_bold'>bold</a>
<a class='HTE_italic'>italic</a>
<a class='HTE_link'>link</a>
<a class='HTE_sup'>sup</a>
<a class='HTE_image'>image</a>
<a class='HTE_quote'>quote</a>
<a class='HTE_ul'>ul</a>
<a class='HTE_ol'>ol</a>
<a class='HTE_help'>help</a>
<div class='HTE_linkBox'>
	<input/><big class='button'>OK</big><small class='button'>Cancel</small>
</div>
</div>
<textarea class='textile'></textarea>
<div class='HTE_preview'></div>
<a class='HTE_toggle'>preview/edit</a>

Usage:
-----------------------------------------
Just link the HTEditor.js in the head of the document
and apply a 'markdown' class in your textarea.

Credits:
-----------------------------------------
João Makray at http://joaomak.net/

*/

.markdown{
/*width:500px;
float:left;
display:none;
border-top-color:#333;
border-left-color:#333;*/
margin:0;
font-size:10pt;
position: relative;
display: inline;
font-family: Monaco,ProFont,"Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
}
.HTE_preview{ 
display:none;
font-size: 9pt;
width:46%;
padding:4px 0px;
line-height:1.1em;
color:#444;
float:right;
overflow:auto;
max-height:750px;
}
.HTE_preview hr{
display: block
}
.HTE_preview li{
border:0;
width: 86%;
list-style-type: square;
}
.HTE_preview ol li{
list-style-type: decimal;
}

.HTE_preview blockquote{
border-left:2px solid #999;
margin:0;
padding-left:22px;
}
.HTE_preview img{
display:block;
border:1px solid #333;
float:left;
margin:0 20px 4px 0;
}
.HTE_linkBox{
position:absolute;
margin:12% 15%;
background:#eaeaea;
border-style:solid;
border-width:3px;
border-color:#888;
padding:5px 3px 5px 11px;
z-index:20;
width:270px;
font-size: smaller;
border-radius:4px;
-moz-border-radius:4px;
line-height:1;
box-shadow:0px 2px 15px rgba(0,0,0,.4);
-moz-box-shadow:0px 2px 15px rgba(0,0,0,.4);
-webkit-box-shadow:0px 2px 15px rgba(0,0,0,.4);
}
.HTE_linkBox label{
margin:8px 4px;
line-height:0
}
.HTE_linkBox input{
width:auto;
overflow: visible;
}
.HTE_linkBox .input-url{
	width:150px;
	float: left;
}
.HTE_linkBox .input-descr{
	width:237px;
}
.HTE_linkBox *{
margin:0px 2px 7px;
vertical-align:middle;
}

.HTE_tools .HTE_toggle{

}

.HTE_tools{
position: relative;
overflow: hidden;
margin-top: 2px;
}
.HTE_tools a{
margin:0 2px 2px 0;
display:block;
float:left;
white-space: nowrap;
font-size: smaller;
padding: 5px;
color: #666;
}
.HTE_tools a .icon{
font-size: 1.5em;
margin-right: 2px;
vertical-align: middle;
line-height: 0;
color: #333;
}
.disabled a{
/*background-position:30px 30px;
cursor:default;
*/}
.HTE_tools .help-link{
font-size: 1.2em;
}

/*.HTE_bold{background-image:url(images/bold.gif)}
.HTE_italic{background-image:url(images/italic.gif)}
.HTE_link{background-image:url(images/link.gif)}
.HTE_hr{background-image:url(images/hr.gif)}
.HTE_image{background-image:url(images/image.gif)}
.HTE_quote{background-image:url(images/quote.gif)}
.HTE_ul{background-image:url(images/ul.gif)}
.HTE_ol{background-image:url(images/ol.gif)}
.HTE_h2{background-image:url(images/h2.gif)}
.HTE_br{background-image:url(images/br.gif)}
.HTE_help{background-image:url(images/help.gif)}*/
